.categoryImage {
  border-radius: 10%;
  height: 4em;
  width: 6em;
  flex-grow: 1;
  object-fit: cover;
}
.category-list {
  display: flex;
  justify-content: center;
  columns: 4;
  flex-wrap: wrap;
  float: left;
  margin: 10px 20px;
  width: 70%
}
.category-data {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 1.5rem;
  flex-shrink: 1;
  flex-basis: 25%;
}
.checkContainer {
  position: relative;
  justify-content: center;
  align-items: center;
}
.caroselImage {
  object-fit: cover;
  flex-shrink: 0;
  width: 85%;
  height: 90%;
}
.topHalf {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%, 50%;
  border-radius: 2px solid black;
  width: 80rem;
}
.sidebarContainer{
  grid-row: 1 / 2;
  grid-column: 2 / span 1;
  width: 100%;
  height: 40em;
}
#styles{
  display: flex;
  flex-direction: row;
}
#carosel {
  grid-row: 1 / 2;
  grid-column: 1 / span 1;
  display: flex;
  justify-content: left;
  overflow: hidden;
  height: 40em;
}
#addButton{
  background: black;
	border: none;
	padding-top: 2rem;
  width: 15em;
  height: 3em;
	border-radius: 15%;
	color: white;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
#checkmark {
  position: absolute;
  color: white;
  top: 50%;
  right: 25%;
  font-size: 1.6rem;
}

#addButton:hover{
  font-size: 30px;
  width: 17em;
  background: grey;
}