.cardSliderWrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .productCard {
    flex: 1;
    min-width: 200px;
  }
}

.cardSlider {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}
