img {
  max-width: 100%;
  max-height: 100%;
}

//Container
#relatedItemsContainer {
  display: grid;
  grid-template-columns: auto 1100px auto;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: 5px 0px 25px 0px;
}

//Slider Related

.itemSliderGrid {
  display: grid;
  grid-template-columns: 34px 840px 34px;
  grid-template-rows: 25px auto;
  justify-self: center;
}

.outfitSliderWrapper {
  display: flex;

  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .productCard {
    flex: 1;
    min-width: 200px;
  }
}

.slideArrowLeft {
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: center;
  border-radius: 2px;
  display: inline-block;
  width: 34px;
  height: 37px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
}

.slideArrowRight:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.slideArrowRight {
  grid-column-start: 3;
  grid-row-start: 2;
  align-self: center;
  border-radius: 2px;
  display: inline-block;
  width: 34px;
  height: 37px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
}

.slideArrowLeft:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.cardSliderWrapper {
  display: flex;

  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .productCard {
    flex: 1;
    min-width: 200px;
  }
}

.outfitSlider {
  position: relative;
  max-width: 840px;
  margin: 0 0;
  overflow: hidden;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: start;
}

.cardSlider {
  max-width: 840px;
  margin: 0 0;
  overflow: hidden;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: start;
}

.cardSliderTitle {
  grid-column: 1/3;
  color: #c60;
  font-size: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
}

//Card Related

.addOutfitCard {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 200px 18px 18px 28px 18px;
  max-width: 200px;
  margin: 5px;
}

.addOutfitImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  grid-column: 1/3;
  grid-row-start: 1;
}

.addOutfitImg img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.addOutfitImg:hover {
  cursor: pointer;
}

.addOutfitTitle {
  grid-column: 1/3;
  grid-row-start: 4;
  color: #007185;
  font-size: 16px;
  align-self: center;
  justify-self: center;
}

.addOutfitTitle:hover {
  color: #c60;
  text-decoration: underline;
  cursor: pointer;
}

.productCard {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 200px 18px 18px 28px 18px;
  max-width: 200px;
  margin: 5px;
}

.productImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  grid-column: 1/3;
  grid-row-start: 1;
}

.productImg img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.productImg:hover {
  cursor: pointer;
}

.actionButton {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
  opacity: 0.6;
  border-radius: 50%;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  color: #c60;
  border-color: #adb1b8 #a2a6ac #8d9096;
  background: #e7e9ec;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
}

.actionButton:hover {
  opacity: 1;
}

.productCategory {
  grid-column-start: 1;
  grid-row-start: 2;
  color: #007185;
  font-size: 12px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  font-style: italic;
}

.productName {
  grid-column: 1/3;
  grid-row-start: 3;
  color: #007185;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

.productName:hover {
  color: #c60;
  text-decoration: underline;
  cursor: pointer;
}

.productPrice {
  grid-column-start: 1;
  grid-row-start: 5;
  color: #b12704;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

.productPrice:hover {
  text-decoration: underline;
  cursor: pointer;
}

.productRating {
  grid-column: 1/3;
  grid-row-start: 4;
}

//Modal Related
.comparisonModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 155px 250px 155px;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  text-align: center;
  border: solid;
  border-radius: 8px;
  border-width: 1px;
  background-color: white;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 16px 24px;
  box-shadow: 0 0 14px 0 rgb(15 17 17 / 50%);
}

.colTitle {
  font-weight: 700;
  font-size: 24px;
  color: #007185;
}

.closeModalButton {
  grid-column: 2/3;
  grid-row-start: 3;
  border-radius: 12px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
}

.closeModalButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.currentItemsFeatures {
  grid-column: 1;
}

.featuresList {
  grid-column: 2;
}

.viewedItemFeatures {
  grid-column: 3;
}
